/*Bootstrap*/
    .navbar {
        height: 85px;
        background: linear-gradient(#2b2b2b, #1f1f1f);
    }
    .navbar-nav .nav-link {
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 30px;
    }
    .navbar-nav .nav-link:hover {
        color: #7CFC00; 
    }

    .navbar-nav .nav-link.active {
        color: #7CFC00;
    }

/*Java*/
        .card-mojang {
            margin-top: 50px;
            display: flex; 
            justify-content: center;
            align-items: center;      
            gap: 30px;
            width: 100%;
        }
        .card-script {
            display: flex; 
            justify-content: center;
            align-items: center;      
            gap: 30px;
            width: 100%;
        }
        .card-border {
            background-color: rgb(142, 171, 146);
            width: 300px;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid rgb(255, 255, 255);
            font-size: 27px;
        }
        .card-border2 {
            background-color: rgb(157, 142, 171);
            width: 300px;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid rgb(255, 255, 255);
            font-size: 30px;
        }
        .card-border3 {
            background-color: rgb(153, 190, 232);
            width: 300px;
            padding: 30px;
            border-radius: 15px;
            border: 3px solid rgb(255, 255, 255);
            padding-left: 23px;
            font-size: 20px;
            display: flex;
            gap: 20px;
        }
    
 /* next */
        .card-next a {
            display: inline-block;
            padding-left: 30px;
            padding-bottom: 60px; 
            color: #ffd000;
            text-decoration: none;
            font-weight: 800;
            letter-spacing: 1px;
        }

        .card-next a:hover {
            text-decoration: underline;
            color: #afb560;
        }